@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


* {
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    background-color: #313131;
}

.cabecalho {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 10px solid #ffd900;
    margin-bottom: 10px;
}

.cabecalho-imagem {
    width: 150px;
    
}

.cabecalho-menu {
    margin-left: 400px;
    display: flex;
    gap: 32px;
}
 .cabecalho-menu-item {
    font-family: "Bungee", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #fbff00;

 }

 .nt{
    margin: 8px;
    height: 50vh;
    width: 32vw;
    border-radius: 10px;
 }
 .noticias {
    background-color: #ffffff;
    border-radius: 0px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
 }